<h1 class="title title_home">titre pets app</h1>

<%= image_tag("/img/imageHome.jpg", class: "img_home ", :alt => "rss feed") %>
<p class="title">L'App de gestion des bêtes! </p>
<%= link_to "comencer", pets_path, class: "btn btn-primary center"%>
