.margin {
  margin: auto;
}

.ml-2 {
  margin-left: ($spacer * .5) !important;
}

.mr-2 {
  margin-right: ($spacer * .5) !important;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.flex-grow {
  flex-grow: 2;
}

.btn-primary {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.btn-primary:hover {
  background-color: $secondary-color-hover;
  border-color: $secondary-color-hover;
}
